<!-- Template with search button in the left -->
<div class="input-group">
    <button class="butto butto--accent">Search</button>
    <input type="text" class="input" placeholder="Enter Domain here...">
</div>

<!-- Template with search button in the right -->
<div class="input-group">
    <input type="text" class="input" placeholder="Enter Domain here...">
    <button class="butto butto--accent">Search</button>
</div>

<!-- Template with an input and icon (does not work yet!) -->
<div class="input-group">
    <span class="icon-container">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
    </span>
    <input type="text" class="input" placeholder="Enter Domain here...">
</div>